<!--/ Library jQuery -->
<script src="/js/vendor/jquery.js"></script>

<!--/ Bootstrap Core JavaScript -->
<script src="/js/vendor/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/js/vendor/jquery.easing.min.js"></script>
<script src="/js/vendor/jquery.fittext.js"></script>
<script src="/js/vendor/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/js/vendor/creative.js"></script>

<!--/ Flexslider Container8624 -->
<script type="text/javascript">
    $(window).load(function() {
        $(".flexslider-container8624").flexslider({animation:"fade",animationLoop:true,startAt:0,slideshow :true,slideshowSpeed :9000,animationSpeed :800,initDelay :0,randomize :false,pauseOnAction :false,pauseOnHover :false,smoothHeight :false,useCSS :true,touch :true,video :true,controlNav :true,directionNav :true,prevText :"",nextText :"",keyboard :true,multipleKeyboard :true,mousewheel :false,pausePlay :false,pauseText :"",playText :"",namespace: "flex-",
            start: function(){
                $(".external-flexslider-container8624.flexslider-img-preloader").css("background-image","none");
                $(".external-flexslider-container8624 .flexslider-img-content").css("opacity","1");
                $(".external-flexslider-container8624 .flexslider-img-content").css("visibility","visible");
                $(".flex-control-nav a").empty();
            }
        });
        $( window ).resize(function() {
            $(".external-flexslider-container8624 .flex-control-nav a").empty();
        });
    });
</script>
<script src="/js/vendor/flexslider2/jquery.mousewheel.min.js"></script>
<script src="/js/vendor/flexslider2/jquery.flexslider.js"></script>

{!<script src="/js/vendor/smoothscroll/smoothscroll.min.js"></script>!}
<script type="text/javascript">
    /* <![CDATA[ */
    var bw_options = {"ismobile":""};
    /* ]]> */
</script>

<!-- SCRIPTS -->
<script type="text/javascript" src="/js/vendor/xone/jquery.visible.min.js"></script>
<script type="text/javascript" src="/js/vendor/xone/jquery.easy-opener.min.js"></script>
<!--<script type="text/javascript" src="/js/xone/jquery.flexslider.min.js"></script>-->
<script type="text/javascript" src="/js/vendor/xone/jquery.fitvids.min.js"></script>
<script type="text/javascript" src="/js/vendor/portfolio/sorting.js"></script>
<script type="text/javascript" src="/js/vendor/xone/jquery.isotope.min.js"></script>
<script type="text/javascript" src="/js/vendor/xone/jquery.parallax.min.js"></script>
<script type="text/javascript" src="/js/vendor/xone/script.js"></script>
<!-- SCRIPTS -->

<!-- The plugin parallax --
<script src="/js/parallax.js"></script>

<!-- accio -->
<script type="text/javascript" src="/js/vendor/accio/custom.js"></script>

<!--/ Default Site--->
<script src="/js/vendor/site.js"></script>

<!-- jQuery UI (Custom Download containing only Widget and Effects Core)
 You can make your own at: http://jqueryui.com/download -->
<script src="/js/vendor/smooth-div-scroll/js/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>

<!-- Latest version (3.1.4) of jQuery Mouse Wheel by Brandon Aaron
     You will find it here: https://github.com/brandonaaron/jquery-mousewheel -->
<script src="/js/vendor/smooth-div-scroll/js/jquery.mousewheel.min.js" type="text/javascript"></script>

<!-- jQuery Kinectic (1.8.2) used for touch scrolling -->
<!-- https://github.com/davetayls/jquery.kinetic/ -->
<!--<script src="/js/smooth-div-scroll/js/jquery.kinetic.min.js" type="text/javascript"></script>-->

<!-- Smooth Div Scroll 1.3 minified-->
<script src="/js/vendor/smooth-div-scroll/js/jquery.smoothdivscroll-1.3-min.js" type="text/javascript"></script>

<!-- If you want to look at the uncompressed version you find it at
     js/jquery.smoothDivScroll-1.3.js -->

<!-- Plugin initialization -->
<script type="text/javascript">
    // Initialize the plugin with no custom options
    $(document).ready(function () {
        $("#logoParade-1").smoothDivScroll({
            autoScrollingMode: "always",
            autoScrollingDirection: "endlessLoopRight",
            autoScrollingStep: 1,
            autoScrollingInterval: 25
        });

        // Logo parade
        $("#logoParade-1").bind("mouseover", function () {
            $(this).smoothDivScroll("stopAutoScrolling");
        }).bind("mouseout", function () {
            $(this).smoothDivScroll("startAutoScrolling");
        });
    });
</script>

<script src="/js/vendor/dream-homes/dream-homes.js"></script>
<script src="/js/vendor/bootstrap-datepicker.min.js"></script>
<script src="/js/vendor/jquery.magnific-popup.min.js"></script>
<!--Start of Zopim Live Chat Script-->
<script type="text/javascript">
    window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
            d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
            _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
        $.src="//v2.zopim.com/?3yBEZGBCK8fOGPpoGE4ktdA9xqBCmLP4";z.t=+new Date;$.
                type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
</script>
<!--End of Zopim Live Chat Script-->
<script type="text/javascript">
    window["seminars"] = {?seminars}{seminars|js|s}{:else}[]{/seminars};
</script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-80644326-1', 'auto');
    ga('send', 'pageview');
</script>
