/*!
 * Start Bootstrap - Creative Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

html,
body {
    width: 100%;
    height: 100%;
	background-color: #fff;
    color: #666;
    font-weight: 300;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.75em;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

hr {
    max-width: 50px;
    border-color: #f05f40;
    border-width: 3px;
}

hr.light {
    border-color: #fff;
}


a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    outline: none;
    text-decoration: none;
    background: transparent;
    vertical-align: baseline;
}
a, a > * {
    text-decoration: none;
    color: #5b5e60;
}

a:hover,
a:focus {
    color: #08558b;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 15px;
    color: #666;
    font-family: 'Roboto', sans-serif;
    line-height: 1.3em;
    font-weight: normal;
}

.bg-primary {
    background-color: #f05f40;
}

.bg-dark {
    color: #fff;
    background-color: #222;
}

.text-faded {
    color: rgba(255,255,255,.7);
}

.section {
    padding: 100px 0;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

.navbar {margin-bottom:0px;border-radius:0;border:0px solid transparent;min-height:50px;}
	@media only screen and (min-width:64.063em) {
		.navbar {
			/*min-height:65px;*/
		} 
	}


.home .navbar-default {border-bottom-width:1px;}
.navbar-default {
	position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    background-color: #fff;
    line-height: 0;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: background-color .25s ease, height .25s ease;
    transition: background-color .25s ease, height .25s ease;
	font-family: 'Roboto', sans-serif;
	min-height: 10px;
}
.page-template .navbar-default {
	background-color: rgba(0,145,160,1.0);}
	
.navbar-default .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #f05f40;
	padding:0 0 0 15px;
}
.navbar-brand>.logo {-webkit-transition: all 200ms ease-out;-moz-transition: all 200ms ease-out;-o-transition: all 200ms ease-out;transition: all 200ms ease-out;}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #eb3812;
}

.navbar-collapse > ul > li > a {
	display: block;
	margin: 0;
	padding: 15px 20px;
	color: #5b5e60;
	font-size: 17px;
	font-weight: 400;
	line-height: 1em;
	-webkit-transition: padding .25s ease, color 100ms linear, background-color .25s ease-out;
	transition: padding .25s ease, color 100ms linear, background-color .25s ease-out; }
	
.home .navbar-collapse > ul > li > a,
.home .navbar-collapse > ul > li > a:after {color: #fff;}

.navbar-default.affix {
	background-color: #FFF;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); }

@media(min-width:992px) {
    .home .navbar-default {
        /*border-color: rgba(255,255,255,.3);*/
        background-color: transparent; }
	
	.home .navbar-default {
		border-bottom-width:0px;}
	
	/* -------------------------------------------------- */
	/*	Navbar Header
	/* -------------------------------------------------- */
	/*.navbar-default div.container {width:90%;padding:0px;}*/
	/*.navbar-brand .logo {width:250px;}
	.logo {-webkit-transition: font-size .25s ease;transition: font-size .25s ease;}*/
	.home .navbar-brand {height:61px;padding:0px;}
	.home .navbar-brand .logo {display:block;margin-top:0px;width:100%;}
	
	.affix .navbar-brand {height:auto;}
	/*.affix .navbar-brand .logo {width:100%;margin-top:0;padding:0px !important;}*/
	.navbar-header {position:relative;}
	/*.navbar-header > span {display:block;position:absolute;width:250px;height:56px;background-color:#f2f2f2;z-index:1;left:-100px;}*/
	
	.home .navbar-nav {border-bottom:1px solid rgba(207,207,207, .4); -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out; -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;transition: background .5s ease-in-out,padding .5s ease-in-out;}
	.home .affix .navbar-nav {
		border-bottom-width:0;}	
	
	.navbar-collapse > ul > li.active > a, .navbar-collapse > ul > li:hover > a  {
		background-color: rgba(0,102,179,.7); }
	.affix .navbar-collapse > ul > li > a {
		-webkit-transition: padding .25s ease, color 100ms linear, background-color .25s ease-out;
		transition: padding .25s ease, color 100ms linear, background-color .25s ease-out;
        /*padding-top: 25px !important;*/
    	/*padding-bottom: 24px !important;*/
	}
	
}

header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,.7);
}

@media(min-width:768px) {
    header {min-height: 100%;}

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
}

.section-heading {
    margin-top: 0;
}

.service-box {
    margin: 50px auto 0;
    max-width: 400px;
}

@media(min-width:992px) {
    .service-box {
        margin: 20px auto 0;
    }
}

.service-box p {
    margin-bottom: 0;
}

.portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
}

.portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(240,95,64,.9);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

@media(min-width:768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px;
    }

    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px;
    }
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.text-primary {
    color: #f05f40;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.btn-default {
    border-color: #fff;
    color: #222;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: #ededed;
    color: #222;
    background-color: #f2f2f2;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background-color: #fff;
}

.btn-default .badge {
    color: #fff;
    background-color: #222;
}

.btn-primary {
    border-color: #f05f40;
    color: #fff;
    background-color: #f05f40;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    border-color: #ed431f;
    color: #fff;
    background-color: #ee4b28;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #f05f40;
    background-color: #f05f40;
}

.btn-primary .badge {
    color: #f05f40;
    background-color: #fff;
}

.btn {
    border: 0;
    border-radius: 300px;
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
}

.btn-xl {
    padding: 15px 30px;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    /*text-shadow: none;
    color: #fff;
    background: #222;*/
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #222;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {margin-top:-30px;}

ul.nav.navbar-nav > li.dropdown > a:after {
    margin-left: 6px;
    /*color:#5b5e60;*/
    font-size: 12px;
    font-family: 'fontello';
    content: '\e8ba';
    line-height: 1em;
}
.navbar-default ul> li.open > a:after {color:#fff;}
.dropdown-menu>li>a {
	padding: 7px 20px;
	color:color:rgba(0,0,0,0.8);
	text-transform: uppercase;
	font-size:/*11px;*/ 14px;}
.dropdown-menu>li>a:hover{
	background-color: rgba(0,0,0,0.2);
	color:#26a69a;}

@media (min-width: 992px) {
	.navbar-default.affix .navbar-nav>.open>a {color: #08558b;background: #FFF;}
	.navbar-right .dropdown-menu {right:auto;left:0;}
}

.nav>li {margin: 0 1px 0 0;}

.dropdown-menu {
	color:rgba(0,0,0,0.8);
    background-color: #fff;
    background-color: rgba(255,255,255,1.0);
    border-width: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: rgba(255,255,255,1.0);
	border-bottom:1px solid #FFF;
	background-color: transparent;}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: -20px;
    margin-left: -20px;}

@media only screen and (min-width:40.063em) {
	.navbar-default .navbar-nav>li>a:hover,
	.navbar-default .navbar-nav>.active>a,
	.navbar-default .navbar-nav>.active>a:focus,
	.navbar-default .navbar-nav>.active>a:hover {
		xborder-bottom:2px solid #1c4492;
        background: #1c4492;
        color: #FFF;
        border-bottom: none;
    }	
}
	
/*.navbar-default.affix .navbar-nav>li>a {color: rgba(28,68,146,0.7);}*/
/*.navbar-default.affix .navbar-nav>li.active>a {color: rgba(28,68,146,1.0);background-color:transparent;}*/

.home .navbar-nav>li.active>a,
.home .navbar-nav>li>a:hover,
.home .navbar-nav>li.open>a,
.home .navbar-nav>li.open>a:hover {background-color: rgba(0,102,179,.7);color: #fff;}
.home .navbar-default .navbar-nav>li.open>a:after {background-color: transparent;color: #fff;}
.home .navbar-default.affix .navbar-nav>li.open>a:after {color:#08558b;background-color:transparent;}
.home .navbar-default.affix .navbar-nav>li.active>a:after {color:#08558b;}

.page-template .navbar-default .navbar-nav>li.open>a {
	color: #26a69a;
    background-color: #fff;}
.page-template .navbar-default .navbar-nav>li.open>a:after {background-color: transparent;color: #fff;}
.page-template .navbar-default.affix .navbar-nav>li.open>a {
	color:#26a69a;
	background-color:#FFF;}
.page-template .navbar-default.affix .navbar-nav>li.open>a:after {color:#08558b;background-color:transparent;}
.page-template .navbar-default .navbar-nav>li.open>a:after	{color:#FFF;background-color:transparent;}

@media (min-width: 992px) {
	/*.navbar-default.affix .navbar-nav>li>a:hover,*/
	/*.navbar-default .navbar-nav>li.open>a:after	{color:#08558b;background: transparent;}*/
}
@media only screen and (max-width:992px) {
	.nav>li {margin-top: 1px;}
	.navbar-collapse > ul > li > a {padding:15px 15px;color:#08558b;}
	.navbar-nav {
		margin:0px -15px;
		-webkit-transition: all .25s ease;
		transition: all .25s ease;}
	
	/*.home .navbar-collapse > ul > li > a,*/
	/*.navbar-default .navbar-nav>li>a,*/
	/*.navbar-default.affix .navbar-nav>li>a {color:#fff;}*/
	
	.navbar-nav>li.active>a,
	.navbar-nav>li>a:hover,
	.navbar-nav>li>a:hover:after,
	.navbar-nav>li.open>a:hover,
	.navbar-nav>li.open>a:focus,
	.navbar-nav>li.open>a:hover:after {color:#fff !important;background-color: #00c1d5 !important;}
	.navbar-nav>li>a,
	.navbar-nav>li>a:after,
	.navbar-default.affix ul > li.dropdown > a:after {color:#08558b;}
	.navbar-default.affix ul > li.dropdown.active > a:after,
	.navbar-default ul > li.dropdown.active > a:after {color:#FFF;}
	.dropdown-menu>li>a:hover,
	.navbar-default .navbar-nav>.open>a,
	.navbar-default .navbar-nav>.open>a:focus,
	.navbar-default .navbar-nav>.open>a.active:after,
	.navbar-default .navbar-nav>.open>a:after,
	.navbar-default .navbar-nav>.open>a:hover {background:#08558b !important;color:#FFF !important;}
}

.modal-title {color: #0a47ba;}
button.close:hover {opacity:1;}
