.bannerTitle {
	position: absolute;
	top: 24%;
	left: 10px;
	right: 10px;
	text-align: center;
}
.btnPlay {
	position: absolute;
	top: 44%;
	left: 0;
	right: 0;
	text-align: center;
	
	img {
		cursor: pointer;
	}
}

.btnIntro {
	position: absolute;
	top: 66%;
	left: 0;
	right: 0;
	text-align: center;

	img {
		cursor: pointer;
	}
}
/* ANIMATION */
@-moz-keyframes cycle {
	0%  { right:0px; }
	4%  { right:0px; }
	30% { right:0px; opacity:1; z-index:0; }
	33% { right:100%; opacity:0; z-index:0; }
	34% { right:-100%; opacity:0; z-index:-1; }
	50% { right:-100%; opacity:0; z-index:-1; }
	92% { right:-100%; opacity:0; z-index:0; }
	96% { right:-100%; opacity:0; }
	100%{ right:0px; opacity:1; }
}
//@-moz-keyframes cycletwo {
//	0%  { right:-100%; opacity:0; }
//	16% { right:-100%; opacity:0; }
//	20% { right:0px; opacity:1; }
//	24% { right:0px; opacity:1; }
//	36% { right:0px; opacity:1; z-index:0; }
//	40% { right:100%; opacity:0; z-index:0; }
//	41% { right:-100%; opacity:0; z-index:-1; }
//	100%{ right:-100%; opacity:0; z-index:-1; }
//}
@-moz-keyframes cycletwo {
	0%  { right:-100%; opacity:0; }
	30% { right:-100%; opacity:0; }
	33% { right:0px; opacity:1; }
	34% { right:0px; opacity:1; }
	60% { right:0px; opacity:1; z-index:0; }
	65% { right:100%; opacity:0; z-index:0; }
	66% { right:-100%; opacity:0; z-index:-1; }
	100%{ right:-100%; opacity:0; z-index:-1; }
}
//@-moz-keyframes cyclefour {
//	0%  { right:-100%; opacity:0; }
//	56% { right:-100%; opacity:0; }
//	60% { right:0px; opacity:1; }
//	64% { right:0px; opacity:1; }
//	76% { right:0px; opacity:1; z-index:0; }
//	80% { right:100%; opacity:0; z-index:0; }
//	81% { right:-100%; opacity:0; z-index:-1; }
//	100%{ right:-100%; opacity:0; z-index:-1; }
//}
@-moz-keyframes cyclethree {
	0%  { right:-100%; opacity:0; }
	62% { right:-100%; opacity:0; }
	66% { right:0px; opacity:1; }
	70% { right:0px; opacity:1; }
	96% { right:0px; opacity:1; z-index:0; }
	100%{ right:100%; opacity:0; z-index:0; }
}

@-webkit-keyframes cycle {
	0%  { right:0px; }
	4%  { right:0px; }
	30% { right:0px; opacity:1; z-index:0; }
	33% { right:100%; opacity:0; z-index:0; }
	34% { right:-100%; opacity:0; z-index:-1; }
	50% { right:-100%; opacity:0; z-index:-1; }
	92% { right:-100%; opacity:0; z-index:0; }
	96% { right:-100%; opacity:0; }
	100%{ right:0px; opacity:1; }

}
//@-webkit-keyframes cycletwo {
//	0%  { right:-100%; opacity:0; }
//	16% { right:-100%; opacity:0; }
//	20% { right:0px; opacity:1; }
//	24% { right:0px; opacity:1; }
//	36% { right:0px; opacity:1; z-index:0; }
//	40% { right:100%; opacity:0; z-index:0; }
//	41% { right:-100%; opacity:0; z-index:-1; }
//	100%{ right:-100%; opacity:0; z-index:-1; }
//}
@-webkit-keyframes cycletwo {
	0%  { right:-100%; opacity:0; }
	30% { right:-100%; opacity:0; }
	33% { right:0px; opacity:1; }
	34% { right:0px; opacity:1; }
	60% { right:0px; opacity:1; z-index:0; }
	65% { right:100%; opacity:0; z-index:0; }
	66% { right:-100%; opacity:0; z-index:-1; }
	100%{ right:-100%; opacity:0; z-index:-1; }
}
//@-webkit-keyframes cyclefour {
//	0%  { right:-100%; opacity:0; }
//	56% { right:-100%; opacity:0; }
//	60% { right:0px; opacity:1; }
//	64% { right:0px; opacity:1; }
//	76% { right:0px; opacity:1; z-index:0; }
//	80% { right:100%; opacity:0; z-index:0; }
//	81% { right:-100%; opacity:0; z-index:-1; }
//	100%{ right:-100%; opacity:0; z-index:-1; }
//}
@-webkit-keyframes cyclethree {
	0%  { right:-100%; opacity:0; }
	62% { right:-100%; opacity:0; }
	66% { right:0px; opacity:1; }
	70% { right:0px; opacity:1; }
	96% { right:0px; opacity:1; z-index:0; }
	100%{ right:100%; opacity:0; z-index:0; }
}

/* ANIMATION BAR */
@-moz-keyframes fullexpand {
	0%, 20%, 40%, 60%, 80%, 100% { width:0%; opacity:0; }
	4%, 24%, 44%, 64%, 84% { width:0%; opacity:0.3; }
	16%, 36%, 56%, 76%, 96% { width:100%; opacity:0.7; }
	17%, 37%, 57%, 77%, 97% { width:100%; opacity:0.3; }
	18%, 38%, 58%, 78%, 98% { width:100%; opacity:0; }
}
@-webkit-keyframes fullexpand {
	0%, 20%, 40%, 60%, 80%, 100% { width:0%; opacity:0; }
	4%, 24%, 44%, 64%, 84% { width:0%; opacity:0.3; }
	16%, 36%, 56%, 76%, 96% { width:100%; opacity:0.7; }
	17%, 37%, 57%, 77%, 97% { width:100%; opacity:0.3; }
	18%, 38%, 58%, 78%, 98% { width:100%; opacity:0; }
}
.mask {
	li {
		top:0px;
		//left: auto;
		//right:-100%;
		left: 0px;
		background-repeat: no-repeat;
		background-image: url('/images/banner/banner-01.jpg');

		//&:nth-child(1) {
		//	-moz-animation:cycle 25s linear infinite;
		//	-webkit-animation:cycle 25s linear infinite;
		//	xbackground-image: url('/images/banner/banner-01.jpg');
		//}
		//&:nth-child(2) {
		//	-moz-animation:cycletwo 25s linear infinite;
		//	-webkit-animation:cycletwo 25s linear infinite;
		//	xbackground-image: url('/images/banner/banner-02.jpg');
		//}
		//&:nth-child(3) {
		//	-moz-animation:cyclethree 25s linear infinite;
		//	-webkit-animation:cyclethree 25s linear infinite;
		//	xbackground-image: url('/images/banner/banner-03.jpg');
		//}
		//&:nth-child(4) {
		//	-moz-animation:cyclefour 25s linear infinite;
		//	-webkit-animation:cyclefour 25s linear infinite;
		//	xbackground-image: url('/images/banner/banner-04.jpg');
		//}
		//&:nth-child(5) {
		//	-moz-animation:cyclefive 25s linear infinite;
		//	-webkit-animation:cyclefive 25s linear infinite;
		//	xbackground-image: url('/images/banner/banner-05.jpg');
		//}
		
		a {
			display: block;
			height: 100%;
			width: 100%;
		}
	}
	&.mobileOnly {
		display: none;

		@media screen and (max-width: 991px) {
			display: block;
		}
	}
	&.webOnly {
		display: block;

		@media screen and (max-width: 991px) {
			display: none;
		}
	}
}
#learningProgram {
	h4 {
		font-size: 25px;
		margin-top: 20px;
		color: #1c4492;
	}	
}
#sponsorship {
	padding: 50px 0;

	h4 {
		color: #1c4492;
		font-size: 65px;
		text-align: center;
		margin-bottom: 30px;
	}
	
	.contents {
		img {
			border: 2px solid #000;
			height: 160px;
		}
	}
	.slides {
		li {
			text-align: center;
			
			img {
				max-height: 160px;
				border: 1px solid #000;
				width: auto;
				display: inline-block;
			}
		}
	}
}
#seminar {
	padding: 50px 0;
	
	h4 {
		color: #1c4492;
		font-size: 75px;
		margin-top: 100px;

		@media only screen and (max-width: 760px) {
			margin-top: 0px;
			line-height: normal;
			padding-bottom: 20px;
		}
	}
	
}
#calendar {
	padding: 20px;
	background: #1c4492;
	color: #FFF;

	.datepicker-inline {
		width: 100%;

		table {
			width: 100%;
		}
	}
	.datepicker table tr td span.focused, .datepicker table tr td span:hover {
		color: #000;
	}
	.datepicker .datepicker-switch:hover, .datepicker .next:hover, .datepicker .prev:hover, .datepicker tfoot tr th:hover {
		color: #000;
	}
	.datepicker table tr td.day:hover, .datepicker table tr td.focused {
		background: none !important;
	}
	.datepicker table tr td.active {
		background: transparent !important;
		border: none !important;
	}
	.datepicker table tr td.highlighted {
		background: transparent !important;
		border: none !important;
		color: #F00 !important;
	}
	.datepicker table tr td.highlight {
		background: transparent !important;
		border: none !important;
		color: #FFF !important;
		position: relative;

		&::before {
			content: attr(title);
			position: absolute;
			width: 30px;
			height: 30px;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
			background: #00bb30;
			left: 50%;
			margin-left: -15px;
		}
	}
}
#discussion {
	xbackground-image: url('/images/discussion/bg.jpg');
	background-repeat: no-repeat;
	height: 646px;

	@media screen and (max-width: 991px) {
		height: 100%;
		background-repeat: repeat-y;
	}
	
	.item {
		a {
			display: block;
			text-align: center;
			margin: 100px 0;
			
			img {
				border-radius: 50%;
				border: 2px solid #FFF;
				width: 212px;
				height: 212px;
			}
			h5 {
				font-size: 24px;
				color: #FFF;
				text-decoration: underline;
				margin-top: 10px;
			}
			> div {
				font-size: 14px;
				color: #FFF;
				margin-top: 10px;
				font-style: italic;
			}
		}
	}
	
	//#specialistCarousel { 
	//	li > a {
	//		display: block;
	//		margin: 0 10px;
	//		border: 1px solid #CCC;
    //
	//		h5 {
	//			padding: 15px 20px 0;
	//			white-space: nowrap;
	//			overflow: hidden;
	//			-ms-text-overflow: ellipsis;
	//			text-overflow: ellipsis;
	//			color: #000;
	//		}
	//		p {
	//			padding: 0 20px 20px;
	//			white-space: nowrap;
	//			overflow: hidden;
	//			-ms-text-overflow: ellipsis;
	//			text-overflow: ellipsis;
	//			color: #999;
	//			margin: 0;
	//		}
	//	}
	//	.flex-direction-nav .flex-prev {
	//		left: -50px !important;
	//		top: 100px !important;
	//		border: none;
	//	}
	//	.flex-direction-nav .flex-next {
	//		right: -50px !important;
	//		top: 100px !important;
	//		border: none;
	//	}
	//}
}
#educationSystem {
	h4 {
		color: #1c4492;
		font-size: 65px;
		text-align: center;
		margin-bottom: 30px;
	}
}
#countryPeople {
	margin: 0 0 50px 0;
	
	h4 {
		color: #1c4492;
		font-size: 65px;
		text-align: center;
		margin-bottom: 30px;
		padding-top: 30px;
	}
	h5 {
		text-decoration: underline;
		font-size: 18px;
		padding: 10px 0 5px;
		text-align: center;
	}
	p {
		font-size: 18px;
	}
}
#contacts {
	#map {
		width: 100%;
		height: 450px;
	}
}
.white-popup-block {
	background: #FFF;
	padding: 20px 30px;
	text-align: left;
	max-width: 650px;
	margin: 40px auto;
	position: relative;
}
.specialist-form {
	.info {
		img {
			width: 100%;
		}
		h5 {
			padding: 20px 0 5px;
		}
	}
}
.specialistPage {
	.GetInTouch>.one-half>p.p-note-oc {
		color: #000;
	}
}
.generalStudyList {
	//h2 {
	//	font-size: 40px;
	//	color: #1c4492;
	//	margin: 0px 0 50px;
	//	position: relative;
	//	text-align: center;;
    //
	//	//&:before {
	//	//	content: '';
	//	//	position: absolute;
	//	//	left: 0;
	//	//	right: 0;
	//	//	height: 5px;
	//	//	background: #8da1c8;
	//	//	top: 70px;
	//	//}
	//	&:after {
	//		content: '';
	//		position: absolute;
	//		left: 0;
	//		width: 400px;
	//		height: 5px;
	//		background: #1c4492;
	//		top: 70px;
	//	}
	//}
	.row {
		a {
			display: block;
			margin: 20px 10px;

			img {
				border: 2px solid #000;
				padding: 5px;
			}

			h4 {
				color: #1c4492;
				padding: 10px 0;
				text-align: center;
				font-size: 20px;
				height: 65px;
				overflow: hidden;
			}
		}
	}
	.flex-direction-nav .flex-prev {
		left: -50px !important;
		top: 50% !important;
		border: none;
	}
	.flex-direction-nav .flex-next {
		right: -50px !important;
		top: 50% !important;
		border: none;
	}
}
#mainNav {
	.navbar-addition {
		display: flex;
		height: 87px;

		@media screen and (max-width: 991px) {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
		}

		.title {
			flex: 1;
			text-align: center;
			margin-top: 13px;
			
			img {
				@media screen and (max-width: 991px) {
					max-height: 30px;
				}
			}			
		}
		.call {
			margin-left: 0;
			color: #1c4492;
			margin-top: 55px;


			@media screen and (max-width: 991px) {
				display: none;
			}
			
			img {
				margin-right: 5px;
				float: left;
			}
			span {
				margin-top: 19px;
				float: left;
				font-weight: 400;
				font-size: 18px;
			}
		}
	}
	.line {
		width: 100%;
		height: 1px;
		background: #1c4492;
		position: absolute;
		top: 87px;
		left: 0;

		@media screen and (max-width: 991px) {
			display: none;
		}
	}
	.navbar-nav>li>.dropdown-menu {
		background: #1c4492;
		color: #FFF;

		li > a {
			color: #FFF;
			text-transform: none;
			text-align: center;
			cursor: pointer;

			&:hover,
			&.active {
				background: #FFF !important;
				color: #1c4492 !important;
			}
		}
	}
	&.navbar > .container .navbar-brand {
		@media screen and (max-width: 991px) {
			height: 50px;
			position: relative;
		}		
		img {
			@media screen and (max-width: 991px) {
				max-height: 100%;
			}
		}
	}
}
#intro {
	background: #f1fbfa;
	text-align: center;
	padding-bottom: 50px;
	padding-top: 50px;
	
	.introShort {
		font-size: 30px;
		color: #1c4492;
		font-weight: 400;
	}
	.intro-readmore {
		font-size: 20px;
		color: #1c4492;
		border: 1px solid #1c4492;
		padding: 5px 60px;
		cursor: pointer;
	}
}
.underline {
	color: #1c4492;
	font-size: 60px;
	text-align: center;
	margin: 30px 0;
	position: relative;

	&:after {
		content: '';
		width: 350px;
		height: 1px;
		border-top: 1px solid #1c4492;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 0;
	}
}
.navbar-default.affix-top {
	border-bottom: 1px solid #1c4492;
}
.generalSeminarList {
	.currentDate {
		color: #1c4492;
		font-size: 30px;
		position: relative;
		padding-left: 100px;
		margin: 80px 0 0 80px;
		
		&:before {
			background: #ffdb99;
			display: inline-block;
			width: 78px;
			height: 37px;
			border-radius: 5px;
			content: "";
			position: absolute;
			top: 5px;
			left: 0;
		}
	}
	.seminarDate {
		color: #1c4492;
		font-size: 30px;
		position: relative;
		padding-left: 100px;
		margin: 20px 0 0 80px;
		
		&:before {
			background: #00bb30;
			display: inline-block;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			content: "";
			position: absolute;
			top: 5px;
			left: 0;
		}
	}
	h3 {
		color: #1c4492;
		font-size: 45px;
		position: relative;
		margin: 50px 0;

		&:after {
			content: '';
			height: 1px;
			border-top: 2px solid #1c4492;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}
	.seminarCarousel {
		background: transparent;
		border: none;
		margin: 0;
		padding: 0 0 60px 0;
		
		.item {
			a {
				margin: 0 10px;
				display: block;
				border: 1px solid #1c4492;
				cursor: pointer;
				
				span {
					display: block;
					
					&.month {
						font-size: 40px;
						color: #FFF;
						background: #1c4492;
						text-align: center;
						padding: 0;
						line-height: normal;
					}
					&.date {
						font-size: 75px;
						color: #1c4492;
						line-height: normal;
						text-align: center;
					}
					&.name {
						font-size: 22px;
						color: #1c4492;
						line-height: normal;
						text-align: center;
						height: 65px;
						overflow: hidden;
					}
				}
			}
		}
	}
}
.studyCarousel {
	.item {
		a {
			margin: 0 10px;
			display: block;

			h4 {
				font-size: 25px;
				text-align: center;
				color: #1c4492;
				padding: 10px;
			}
		}
	}
}
.dropdown-menu>.active>a, 
.dropdown-menu>.active>a:focus, 
.dropdown-menu>.active>a:hover {
	background: #FFF;
	color: #1c4492 !important;
}

.mt-5 {
	margin-top: 5px !important;
}
#registerUser {
	font-size: 14px;
	min-height: 200px;

	h4 {
		font-weight: bold;
		font-size: 18px;
		color: #444;
		border-bottom: 1px solid #666;
		margin-bottom: 15px;
		padding-bottom: 10px;
	}
	.row {
		margin-right: -5px;
		margin-left: -5px;

		.col-md-6,
		.col-xs-12,
		.col-md-3,
		.col-md-9 {
			padding-left: 5px;
			padding-right: 5px;
		}
	}
	input {
		font-size: 13px;
		color: #000;
	}
	textarea {
		height: 120px;
		color: #000;
	}
	button {
		background: #36B449;
		width: 100px;
		text-align: center;
		border-radius: 3px;
	}
}
