.fw-100 {
  font-weight: 100;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-700 {
  font-weight: 700;
}
main {
  .intro {
	position: relative;
	
	ul {
	  li {
		img {
		  max-width: 1920px;
		  width: 100%;
		}
	  }
	}
	.inner {
	  position: absolute;
	  left: 0;
	  right: 0;
	  top: 0;
	  bottom: 0;
	  text-align: center;
	  
	  .title {
		position: absolute;
		width: 58%;
		left: 50%;
		margin-left: -30%;
		top: 23%;
	  }
	  .btnPlay {
		position: absolute;
		width: 7.2%;
		left: 50%;
		margin-left: -3.6%;
		top: 44%;
		cursor: pointer;
	  }
	  .btnIntro {
		position: absolute;
		width: 16%;
		left: 50%;
		margin-left: -8%;
		top: 66%;
		cursor: pointer;
	  }
	  .btnScrollDown {
		position: absolute;
		width: 5.6%;
		left: 50%;
		margin-left: -2.8%;
		top: 82%;
		cursor: pointer;
	  }
	  
	  //.row {
		//margin: 0;
      //
		//.title {
		//  background: url("../../images/banner-title.png") no-repeat center center;
		//  height: 158px;
		//  margin-top: 217px;
		//}
		//.btnPlay {
		//  background: url("../../images/btn-play.png") no-repeat center center;
		//  height: 138px;
		//  width: 138px;
		//  border: none;
		//  margin-top: 35px;
		//}
		//.btnIntro {
		//  background: url("../../images/bg-button.png") repeat-x left top;
		//  height: 70px;
		//  border: none;
		//  font-size: 39px;
		//  color: #FFF;
		//  font-weight: 300;
		//  padding: 0 40px;
		//  margin-top: 52px;
		//}
		//.btnScrollDown {
		//  background: url("../../images/btn-scrolldown.png") no-repeat left top;
		//  border: none;
		//  height: 74px;
		//  width: 106px;
		//  margin-top: 80px;
		//}
	  //}  
	}	
  }
}
