/* SMALL SCREENS */
@media only screen and (max-width: 1200px) {
	#page-content { min-width: 940px; }
}

/* TABLETS ON PORTRAITS */
@media only screen and (max-width: 1023px) {	

	h1 { font-size: 80px; line-height: 100px; }
	h2 { font-size: 36px; line-height: 54px; }
	h3 { font-size: 28px; line-height: 42px; }
	h4 { font-size: 20px; line-height: 30px; }
	h5 { font-size: 18px; line-height: 26px; }
	h6 { font-size: 16px; line-height: 22px; }
	
	#page-content { min-width: 740px; }

}

/* Smartphones*/
@media only screen and (max-width: 760px) {

	h1 { font-size: 64px; line-height: 74px; }
	h2 { font-size: 32px; line-height: 44px; }
	h3 { font-size: 26px; line-height: 36px; }
	h4 { font-size: 20px; line-height: 28px; }
	h5 { font-size: 18px; line-height: 26px; }
	h6 { font-size: 16px; line-height: 22px; }
	
	#page-content { min-width:280px; }
	h1.dream-homes-title {font-size:15px; line-height:1.3em;}

}
