<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<body>
<center>
    <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border: 1px solid rgb(221, 221, 221); max-width: 800px; background-color: #e9e9e9">
        <tbody>
			<tr>
				<td valign="top" align="center">
					<table width="90%" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: 20px 5%; padding: 20px; background-color: #FFF;">
						<tbody>
						<tr>
							<td valign="top">
								<div style="color:#000;font-family:Arial;font-size:15px;line-height:150%;text-align:left">
									<span style="color:#000;display:block;font-family:Arial;font-size:32px;font-weight:bold;line-height:100%;margin-bottom:10px;text-align:left">Contact Us</span>
									We recently received request contact from a customer with the following information:
									<br /><br />
									Name: <%=name%>
									<br />
									Email: <%=email%>
									<br />
									Subject: <%=subject%>
									<br />
									Message: <%=message%>
									<br /><br />
									Regards,
								</div>
							</td>
						</tr>
						</tbody>
					</table>
				</td>
			</tr>
        </tbody>
    </table>
</center>
</body>
</html>
